*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stili controller */
#controller{
    height: 50px;
    background-color: #fff;
}
/* stili container principale */
#wrapper-up{
    height: calc(100vh - 50px);
    background-color: blue;
    display: flex;
}

/* contenitore principale */
#main-content{
    flex-grow: 1;
    background-color: #F8F9FA;
    height: 100%;
}

#my_top_menu{
    height: 150px;
    background-color:#1B72E8 ;
}

/* slidebar */
#slidebar{
    width: 150px;
    height: 100%;
    background-color: #051E34;
}